<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <title>Products</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-12 bg-light d-flex justify-content-between p-3">
                    <input type="button" class="btn btn-primary" @click="openModal" value="新增產品">
                    <input type="button" class="btn btn-danger" value="登出">
                </div>
                <div class="col-12 mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <!-- 分類	產品名稱	原價	售價	是否啟用	編輯 -->
                                <td>#</td>
                                <td>分類</td>
                                <td>產品名稱</td>
                                <td>原價</td>
                                <td>售價</td>
                                <td>是否啟用</td>
                                <td>編輯</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,i) in products" :key="product.id">
                                <!-- category: "2"
                                content: "77ㄉ"
                                description: "66 dasdasdasd"
                                id: "-Mv3gz8682F1rghk-j4R"
                                imageUrl: "https://images.unsplash.com/photo-1516550135131-fe3dcb0bedc7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=621e8231a4e714c2e85f5acbbcc6a730&auto=format&fit=crop&w=1352&q=80"
                                is_enabled: 1
                                num: 1
                                origin_price: 33
                                price: 55
                                title: "1111"
                                unit: "44" -->
                                <td>{{i+1}}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.title}}</td>
                                <td>{{product.origin_price}}</td>
                                <td>{{product.price}}</td>
                                <td>
                                    <span v-if="product.is_enabled" class="text-success">啟用</span>
                                    <span v-else>未啟用</span>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-outline-primary me-2" value="編輯">
                                    <input type="button" class="btn btn-outline-danger" value="刪除">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <pagination :pages="pagination" @getpage="getProducts"></pagination>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">{{modalTitle}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module">
    import './js/product.js'
</script>
</html> 